# 기본 폴더 제외
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# 빌드 관련 제외
Build/

# Mac 용 캐시
DerivedDataCache/

# 특정 파일
*.VC.db
*.opensdf
*.sdf
*.suo
*.tmp
*.log
*.vs

# 에디터 설정 관련 (선택적)
.vscode/
.idea/

# 다른 플랫폼 빌드
Build/

# 실행파일 및 라이브러리
*.exe
*.dll
*.lib
*.app
*.dylib
*.so
